$xsSize: 50px;
$smSize: 100px;
$mdSize: 150px;
$lgSize: 200px;

.avatarContainer {
  display: flex;
}

.avatarImage {
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
  background: #fff;
}

.avatarImage img {
  height: inherit;
}

.avatarText,
.overlimitCount {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e8eaf5;
  color: #787b8a;
}

/*sizing*/
.xs {
  .avatarImage {
    width: $xsSize;
    height: $xsSize;
  }
  .avatarImage:not(:first-child) {
    margin-left: calc($xsSize / 3 * -1);
  }
  .avatarText,
  .overlimitCount {
    font-size: 25px;
  }
}

.sm {
  .avatarImage {
    width: $smSize;
    height: $smSize;
  }
  .avatarImage:not(:first-child) {
    margin-left: calc($smSize / 3 * -1);
  }
  .avatarText,
  .overlimitCount {
    font-size: 40px;
  }
}

.md {
  .avatarImage {
    width: $mdSize;
    height: $mdSize;
  }
  .avatarImage:not(:first-child) {
    margin-left: calc($mdSize / 3 * -1);
  }
  .avatarText,
  .overlimitCount {
    font-size: 50px;
  }
}

.lg {
  .avatarImage {
    width: $lgSize;
    height: $lgSize;
  }
  .avatarImage:not(:first-child) {
    margin-left: calc($lgSize / 3 * -1);
  }
  .avatarText,
  .overlimitCount {
    font-size: 60px;
  }
}
